{$DOMAIN} {
    encode zstd gzip

    handle /static/* {
        root * /srv
        file_server
    }

    handle /api/* {
        reverse_proxy api:8001
    }

    handle {
        reverse_proxy django:8000
    }

    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy same-origin
        -Server
    }
}
